<h1>Add Contact</h1>

<form action="/create_contact" method="post">
  <input type="text" name="name" value="">Contact name

  <input type="text" name="street_address" value="">Street Address
  <input type="text" name="city" value="">City
  <input type="text" name="zip" value="">Zip Code

  <button type="submit" name="button">Add Contact</button>
</form>
